# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# OS/IDE
.DS_Store
.idea/
.vscode/

# env file
.env
.env.*

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# Build output
bin/

# Local claude files
.claude
